log/*.log
log/*.log*
tmp/**/*
tmp/*
.DS_Store
doc/api
doc/app
config/database.yml
db/development.sqlite3
db/test.sqlite3
**/**/**/*~
**/**/*~
*.swp
*.swo
/public/javascripts/cache
/public/javascripts/cache/*
/public/stylesheets/cache
/public/stylesheets/cache/*
/public/stylesheets/base.css
bundle.css
bundle.css.filelist
bundle.js
bundle.js.filelist
*~
