<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<link rel="stylesheet" type="text/css" media="screen" href="css/style.css" />
	<title>My Game Robot</title>
</head>
<body>
	<div class="wrapper">
		<ul id="menu">
			<li><a class="active" href="#">HOME</a></li>
			<li><a href="#">ABOUT</a></li>
			<li><a href="#">CONTACT</a></li>
			<li><a href="#">PURCHASE</a></li>
		</ul>	
		<div id="logo">
			<h1><a href="#">MyGameRobot</a></h1>
			<h2>Win (or lose) without effort</h2>
		</div>
		<div class="testimonial">
			<img src="images/testimonial_img.png" alt="Featured" />
			<p>
			  "I was a lonely alcoholic then I purchased this software. Now, I am a millionaire and the ladies love me."
			  <br />
			  -James, Birmingham
			</p>
		</div>
		
		<div class="clear"></div>
		
		<div id="left">
		  <br />
			<h2><a href="#">Super 21 Robot</a></h2>
			<p class="subtitle">Aenean justo nisl, luctus sit amet, malesuada ac, dignissim ac, eros</p>
			<p>Maecenas libero neque, volutpat sit amet, varius et, <em>pretium quis</em>, purus. Nulla ut magna. Nunc nec dui eget erat vulputate sagittis. Suspendisse fermentum odio. Mauris magna sem, pellentesque sit amet, nonummy vel, nonummy id, velit. <a href="#">Mauris facilisis quam ut semper adipiscing</a>, magna diam laoreet ante, ac varius massa dolor sit amet augue. Vivamus purus. Integer consequat. Nunc et nunc. <a href="#">Phasellus augue</a> diam, vestibulum non, iaculis eget, tristique sed, lectus. Sed pede. Nullam egestas ante a mauris. Aliquam metus turpis, luctus ac, sagittis eget, elementum tincidunt, massa. Aenean justo nisl, luctus sit amet, malesuada ac, dignissim ac, eros nec dui eget erat vulputate sagittis.</p>
			<p><a class="more" href="#">&not; Purchase Now</a> </p>
		</div>
		
		<div id="side">
				<div class="boxtop"></div>
				<div class="box">
					<h3>Screen Shots</h3>
					<a href="#">
					<span class="item">

						<strong>Lorem ipsum dolor sit amet</strong><br />Consectetuer adipiscing elit.
					</span>
					</a>
				</div>
				<div class="boxbottom"></div>
		</div>
		<p id="footer">Suspendisse egestas fringilla odio. Donec lacinia tristique ante. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam blandit ultricies nisl. Nullam dapibus, mauris id scelerisque feugiat, sapien augue porta ipsum, ut blandit tellus enim vel mauris. Praesent accumsan metus vel. </p>
	</div>
</body>
</html>